body{
    background-color: rgb(199, 230, 248);
    display: flex;
    justify-content: center;
}
.background{
    background-color: rgb(255,231,155);
    margin: 10px auto;
    padding: 50px 50px;
    position: absolute;
    top: 50px;
}
.main-header{
    color: black;
    margin: 45px auto;
    background-color: rgb(255, 253, 155);
    padding: 30px 25px;
    width: 20vw;
    font-size: 50px;
}
.subheadings{
    color: black;
    margin: 50px auto;
    font-size: 35px;
    text-align: center;
}
.description{
    color: black;
    margin: 50px auto;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 25px;
    text-align: center;
}
span{
    font-weight: bold;
}
img{
    width: 500px;
}
